<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p style="font-size:14px;">Hey <%= @patron.first_name %>,
			<%= @beer %> is back on tap at <%= @user %>!</p>
			<p>
			<p style="font-size:14px;"><%= @message_content %>
	</body>
</html>