<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1> Welcome to AleMail, <%= @patron.first_name %>
			<p> When <%= @beer.name %> is in, we will let you know ASAP!</p>
	</body>
</html>