<div class="my-fluid-container">
	<div>
	<h1>Beer List</h1>
	<%= link_to new_beer_path(current_user) do %>
		<div class="beer-box box-font box-filler">Add New Beer</div>
		<div class="line-break"></div>
	<% end %>
		<% @beers.each do |b| %>
			<%= link_to edit_beer_path(b.id) do %>
					<div class="beer-box box-font">
						<div><%= b.name %></div>
						<div><%= b.style %></div>
						<div class="line-break"></div>
					</div>
			<% end %>
		<% end %>
	</div>
</div>