<div class="my-fluid-container">
	<div>
	<h1>Patron List</h1>
		<%= link_to new_patron_path do %>
			<div class="beer-box box-font box-filler">Add New Patron</div>
			<div class="line-break"></div>
		<% end %>
		<% @patrons.each do |p| %>
			<%= link_to edit_patron_path(p.id) do %>
					<div class="beer-box box-font">
						<div><%= p.first_name %></div>
						<div><%= p.last_name %></div>
						<div class="line-break"></div>
					</div>
			<% end %>
		<% end %>
	</div>
</div>