<div class="col-xs-12">
	<div class="">
	<button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
		<%= link_to "Find/Edit Patron", 'current_user/patron_list', class: "custom-full-wide-buttons" %>
	</div>
</div>