
<h2><%= @user.phone %></h2>
<h2><%= @user.address %></h2>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.bar_name %>
        <%= @user.username %>
      </h1>
    </section>
  </aside>
</div>