<div class="welcome-splash">
	<h1 class="text-info">Welcome to Ale Mail</h1>
	<div class="sign-container">
		<%= link_to 'signin' do %>
		<div class="icon-signin"></div>
		<div class="button-text">Sign In</div>
		<% end %>
	</div>
	<br />
	<div class="sign-container">
		<%= link_to 'signup' do %>
		<div class="icon-signup"></div>
		<div class="button-text">Sign Up</div>
		<% end %>
	</div>

</div>