@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
.app-title {
	display: inline-block;
}
.bar-name {
	display: inline-block;
}
.home-img {
width: 20%;
}
.settings-img {
	width: 100%;
}
.dropdown-toggle {
	max-width: 100%;
}
.setting {
	margin-left: 80%;
	margin-top: -20%;
}
  
@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}
